{%extends 'base.html' %} {%load static %} {%block css_files%}
<link
  rel="stylesheet"
  href='{% static "challenges/challenges.css" %}'
/>{%endblock%}
<title>
  {%block page_title%} {{month_name|title}} Challenge {%endblock page_title%}
</title>

{%block content%} {% include 'challenges/includes/header.html' %}

<h1>{{ month_name|title}} Challenge</h1>

{% if challenge_text is not None %}
<h2>{{challenge_text}}</h2>

{%else%}
<h2>There is no challenge for this month</h2>
{%endif%} {%endblock %}
